accelerate==0.29.3
bitsandbytes==0.43.1
transformers==4.40.0
langchain
torch
transformers
sentence-transformers
datasets
faiss-cpu
gradio
jinja2
google-search-results
numexpr
text-generation
langchainhub
langchain-huggingface
huggingface_hub
langchain-community
langgraph
langchain-google-vertexai