accelerate
bitsandbytes
transformers
langchain
torch
transformers
sentence-transformers
datasets
faiss-cpu
gradio
jinja2
google-search-results
numexpr
text-generation
langchainhub
langchain-huggingface
huggingface_hub
langchain-community
langgraph
langchain-google-vertexai
peft
trl
bitsandbytes
wandb
